<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>Header Here</h3>
    </div>

    <div>
        @RenderBody()
    </div>

    <div>
        <h3>Footer Here</h3>
    </div>
</body>
</html>
