@*@model IList<coreEmptyWebApplication.Models.User>*@
@model IList<User>


@{
    ViewData["Title"] = "Index";
}
<h2>List of Users</h2>

<a asp-controller="User" asp-action="AddUser">Add New User</a>

<hr />

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>
<hr />

